.stackquest-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root-container {
  height: 100vh;
  background-color: #1a1a1a;
}

.black-background {
  height: 100vh;
  background-color: black;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.start-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-text {
  color: #cccccc;
}

.footer-container {
  bottom: 0;
  margin: 20px auto;
  text-align: center;
}

.input-group {
  margin: auto;
  margin-bottom: 1%;
}

.login-input {
  margin-right: 10px;
}

.character-class-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.character-class-choice {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.character-class-choice:hover {
  border-style: dashed;
  border-color: green;
}

.character-class-selected {
  border-style: solid;
  border-color: green;
}

.no-select {
  pointer-events: none;
}
